{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1>Каталог</h1>
        </div>
        <div class="row">
            <div class="book col-md-4">
                <h2><a href="http://127.0.0.1:8000/2018-02-27"> Война и мир </a></h2>
                <p>Автор: Лев Толстой</p>
                <p>Дата публикации: 2018-02-27</p>
            </div>
            <div class="book col-md-4">
                <h2><a href="http://127.0.0.1:8000/2016-12-06">1984</a></h2>
                <p>Автор: Джордж Оруэл</p>
                <p>Дата публикации: 2016-12-06</p>
            </div>
        </div>
    </div>
{% endblock %}